In [2]:
a='Data'
b=' Analyst'  #give space after quotes if you want space in words
a+b

'Data Analyst'

In [3]:
'Data' + 'Analyst'

'DataAnalyst'

In [2]:
'Hello' + ', ' + 'world'

'Hello, world'

## Extract/slicing of string

In [1]:
a = "DataAnalyst"
a[0]

'D'

In [ ]:
a[0:4]  # gives 0 to 3 index characters

'Data'

In [5]:
b = 'I am a Data Analyst'
b[0:4]

'I am'

In [1]:
b = 'I am a Data Analyst'
b[0:] # if you dont give ending index it will go till end

'I am a Data Analyst'

In [ ]:
b[:-4]  # except last 4 characters

'I am a Data Ana'

In [4]:
b[-3:]  # want only last 3 characters

'yst'

In [6]:
a='Hello World'
a[0:5:2]

'Hlo'

In [5]:
a='Hello World'
a[::-1]  # to reverse a string

'dlroW olleH'

In [7]:
a[::1]

'Hello World'

In [ ]:
a[::2]  # to skip every second character

'HloWrd'

In [9]:
#no. of characters in string
len(a)

11

# Modification of string:

In [10]:
s = 'I am a Data Analyst'
s.replace('Data', 'Business')

'I am a Business Analyst'

In [1]:
#use case
address = '221B Baker Street aprt'
address

'221B Baker Street aprt'

In [2]:
address.replace('aprt', 'Apartment')

'221B Baker Street Apartment'

In [3]:
a = 'Hello World'
a.lower()

'hello world'

In [4]:
a = 'Hello World'
a.upper()

'HELLO WORLD'

In [6]:
a='hello World'
a.title()

'Hello World'

In [7]:
a = 'Hello World'
a.swapcase()

'hELLO wORLD'

In [ ]:
a.capitalize() # make first letter capital and rest small

'Hello world'

In [5]:
a='Hello World'
a.count('l')

3

In [9]:
a='Hello World'
b='hello world'
a==b

False

In [10]:
a.lower() == b.lower()

True

In [11]:
# string ordering
name=["Ajay", "sanjay", "Bijay"]
sorted(name)

['Ajay', 'Bijay', 'sanjay']

In [13]:
# remove leading and trailing spaces
text = "       Hello, World!       "
text

'       Hello, World!       '

In [ ]:
text.strip()  # removes leading and trailing spaces

'Hello, World!'

In [ ]:
# slipt a string into list
data="Ajay, Sanjay, Bijay"
data

'Ajay, Sanjay, Bijay'

In [16]:
data.split(',')  # split at comma

['Ajay', ' Sanjay', ' Bijay']

In [17]:
#scape sequences >> special combination of characters used within a string
address='''221B Baker Street,
Apartment 3B,
New York, 
NY 10001'''
address

'221B Baker Street,\nApartment 3B,\nNew York, \nNY 10001'

In [ ]:
print(address) # understands \n as new line

221B Baker Street,
Apartment 3B,
New York,
NY 10001

In [19]:
address='221B Baker Street,\nApartment 3B,\nNew York, \nNY 10001'
print(address)

221B Baker Street,
Apartment 3B,
New York,
NY 10001

In [20]:
#\t >> tab 4 space 
table = "Name\tAge\tCity\nAjay\t25\tNew York\nSanjay\t30\tLos Angeles"
print(table)

Name	Age	City
Ajay	25	New York
Sanjay	30	Los Angeles

In [22]:
#string quote escape
test = 'I can\'t do that'
print(test)

I can't do that

In [23]:
# carrage return \r - move cursor to beginning of the line
print("Hello, I am \rAjay, I am a Data Analyst")

Ajay, I am a Data Analyst

In [ ]:
# string formatting >> creating string with plceholder for variable
print("My Name is Ajay")
print("My name is Sanjay")
print("My name is Bijay")

My Name is Ajay
My name is Sanjay
My name is Bijay

In [25]:
name = "Ajay"
greetings = f"hello {name}, how are you?"
print(greetings)

hello Ajay, how are you?

In [27]:
name = "Ajay"
name.startswith('A')

True

In [28]:
name.endswith('ay')

True

In [29]:
a='123abc'
a.isalnum()

True

In [30]:
a='abc'
a.isalnum()

True

In [31]:
a=123
a.isalnum()

AttributeError: 'int' object has no attribute 'isalnum'

In [ ]:
# boolean values

bool(0)

False

In [5]:
bool(1)

True

In [6]:
bool(100)

True

In [7]:
bool(-5)

True

In [ ]:
# boolean of string
bool('Data_Analyst')

True

In [9]:
bool('') #empty string

False