In [2]:
# for loop - Iterates over the sequence of element- srting/ list ...

for i in "DataAnalyst":
    print(i)

D
a
t
a
A
n
a
l
y
s
t

In [6]:
l= [1,"J", "Data", 4.5]
for i in l:
    print(i)

1
J
Data
4.5

In [ ]:
l= [1,"J", "Data", 4.5]
for i in l:
    print(i)
else:
	print("This will be executed when for loop runs sucessfully without any breaks ")

In [ ]:
# break statement in for loop

l = [1, "J", "Data", 4.5]
for i in l:
	if i == "Data":
		break
	print(i)
else:
	print("This will be executed when for loop runs sucessfully without any breaks ")

1
J

In [1]:
# Continue statement in for loop

l = [1, "J", "Data", 4.5]
for i in l:
	if i == "Data":
		continue
	print(i)
else:
	print("This will be executed when for loop runs successfully without any breaks ")

1
J
4.5
This will be executed when for loop runs successfully without any breaks

## range

range(0,10) - it will give value from 0 to 9

## you won't be  able to see values after executing unless you add it in list

In [1]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
## If you want it in a staright line

for i in range(0,10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [4]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

## Problem Statement

In [5]:
# print right triangle

# using while loop
row = 1
while row <= 4:
    col = 1
    while col <= row:
        print("*", end="")
        col += 1
    print()
    row += 1

*
**
***
****

In [7]:
## for using for loop

for i in range(4):
    for j in range(i + 1):
        print("*", end="")
    print()

*
**
***
****

In [9]:
# Square of astrik

for i in range(3):
    for j in range(3):
        print("*", end="")
    print()

***
***
***

In [1]:
# Using Multiplication
n=5
for i in range(n):
    print("*" * n)

*****
*****
*****
*****
*****

In [1]:
# Hollow Squares

for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
*   *
*   *
*   *
*****

## Conditional with for loops

In [1]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in number:
    if (num == 3) or (num == 7):
        continue
    print(num)

1
2
4
5
6
8
9

In [1]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in number:
    if (num == 3) or (num == 7):
        break
    print(num)

1
2

In [2]:
## Print the even numbers

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
## multiplication table

for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}") # "print f" usually refers to f-strings (Formatted String Literals). Introduced in Python 3.6, they are the most modern, readable, and fastest way to insert variables or expressions into strings.
    print()  # Print a blank line after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## ✨ Immutable Data Types
Integers,float, complex number, strings, tuples, frozen set(An immutable version of set)

Mutable :
List, Dictonary, set

✅✅ Complete 1st Assignment from Assignment folder