üìó What is Operators?
 Operators are symbols used to perform operations on values and variables.

## Following are the operators use in python :- 
  ‚úÖ Arithmatic operators -   +, -, *, /, % (modulus), ** (Exponential operator)  
  ‚úÖ Comparison operators -   ==, !=, >, <, >= , <=  
  ‚úÖ Logical operators-       AND, OR, not  
  ‚úÖ Bitwise operator -       &, |, ~ (Not), ^ (XOR), << (Left shift), >> (Right shift)  
  ‚úÖ Assignment operators -   = (assignment), += (addition assignment), -= (substration assignment), *= (multiplication assignment),  /=  
                                (division assignment)  
  ‚úÖ Membership operators -   in , not in  
  ‚úÖ Identity Operators -     is, is not

In [1]:
# Arithmatic operators -

a=5
b=3
a+b

8

In [2]:
a=21
b=4
a/b

5.25

In [3]:
# Modulus Operator - it is a remainder operator
a % b

1

In [5]:
# Exponential operator-

2**5  # 2 to the power 5

32

In [9]:
#floor operator - gives nearest value
4/3  # Division operator

1.3333333333333333

In [10]:
4//3 # Floor operator

1

In [11]:
# comparision Operators - you compare 2 values and get boolean value in return i,e ture or false
2==2

True

In [12]:
2!= 2

False

## Logical Operators - AND  OR  Not

     And                                        OR
	True And True - True                       True or True - True
	True And False  - False                    True or False - Ture
	False And True  - False                    False or True - Ture
	False And False - False                    False or False - False
	
	1 and 1 - 1
	1 and 0- 0
	0 and 1 - 0
	0 and 0 - 0

In [13]:
True and True

True

In [16]:
True and False

False

In [18]:
True or False

True

In [19]:
not True

False

In [20]:
not False

True

In [21]:
# Assignment Operators

a= 10
a

10

In [22]:
a= a+4
a

14

In [26]:
a=10
a+=4
a

14

In [27]:
# Membership Operators

a= "Data Skills"
"D" in a

True

In [28]:
"D" not in a

False

In [30]:
a = ["Hello", "data", 100]
"data" in a

True

In [31]:
"world" in a

False

In [33]:
# Identity Operator - Compares location of two object/variable

a=5
b=3
a is b

False

In [34]:
a is not b

True

## Bitwise Operator - perform Operations on bit level i.e 1 , 0
ex-
  
                                2^4 , 2^3, 2^2, 2^1, 2^0  (this is 2 to the power)  

                                        0    0    0   1       ----      1  
                                        0    0    1   0       ----      2  
                                        0    0    1   1       ----      3  
                                        0    1    0   0       ----      4  


ex- 10 & 10  

                                        1     0   1    0       ----  10  
            (And operator)-->   &       1     0   1    0       ----- 10  
                                       --------------------  
                                        1     0   1    0  
										
                             so 10 & 10 again gives you 10

In [36]:
10 & 10

10

In [37]:
bin(10)    # Binary representation of 10

'0b1010'

18 & 3 

                                  1     0     0    1    0         ------ 18   
                            &     0     0     0    1    1         ------  3  
                                  ------------------------  
                                  0     0     0    1    0          ------ 2

In [38]:
18 & 3

2

In [39]:
bin(18)

'0b10010'

In [40]:
# Or - |
3|5

7

In [41]:
# ~ Negation

~3

-4

In [42]:
~100

-101

## XOR operator ^
  It returns exactly one when one operand is one  
                         
						  0       0     -----  0  
						  1       0     -----  1  
						  0       1     -----  1  
						  1       1     -----  0  


5¬≥  

                           2‚Å¥   2¬≥   2¬≤   2¬π   2‚Å∞    
                                     1    0    1    
                                     0    1    1    
                                -------------------    
                                     1    1    0

									 
ANS- 6  

2^6  

                                 1    0    ---- 2    
                            1    1    0    ---- 6  
                               --------------------  
                            1    0    0  
									  
ANS-
4

In [43]:
# Left shift Operator <<  - shifts bits to left
35 << 3

280

                                     2^5   2^4  2^3  2^2  2^1  2^0    
                                      1     0    0    0    1    1    ------ 35  
                            1  0  0   0     1    1    0    0    0    ------  shift by 3  to left                    
                           -----------------------------------------  
			                           |
                                       It is equivalent to 280

In [44]:
							   
5<<1

10

In [ ]:
                               1    0     1    ------- 5  
						so,  
								   	1     0    1          -------  shift by 1  
									------------------  
									
									10

In [45]:
# Right shift >>

280 >> 3

35


                               1   0   0   0   1   1   0   0   0    --- 280    
                                           1   0   0   0   1   1    ---- shift on the right side by 3  
                                           ---------------------  
                                           
                                                  35