## Type casting/ Type convrtion -- chnage the data type

In [1]:
'2' + 3

TypeError: can only concatenate str (not "int") to str

In [2]:
a='2'
b= 3
int(a)+b

5

In [3]:
a='2'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [4]:
# float to int	 
a=3.4
int(a)

3

In [5]:
# Integer to float
a=3
b= float(a)
b

3.0

In [10]:
# sting to float

a= '2'
b= float(a)
b

2.0

In [13]:
a='Data'  # charachter can not be converted into number so if string value is alphabet characters then it won't convert in other data type

# integer to string
a= int(a)
a

ValueError: invalid literal for int() with base 10: 'Data'

In [15]:
a=5
b= str(a)
b

'5'

## âœ… There are two types of Type Casting - 
   Implicite and Explicite

## ðŸ“• Implicite Type Casting- Python understands the standerd data types itself
      Python automatically converts smaller / lower data types into larger / compatible data types to avoid data loss.

## Key Characteristics
  ðŸ’Ž Done by Python  
  ðŸ’Ž No data loss  
  ðŸ’Ž Happens during operations  

  ex-

In [16]:
a= 5
type(a)

int

## Explicit Type Casting
  The programmer converts one data type into another using built-in functions.

## Common Functions
  int(), float(), str(), bool(), list(), tuple(), set()

In [18]:
x = "10"
y = int(x)

y

10

In [19]:
type(y)

int