## Data type is a classification that tells the computer what kind of data a variable can store and what operations can be performed on it.

## Following are Data Types use in python:  
 ðŸ number         - int (integer)/ float (fraction)  
 ðŸ Character      - str  
 ðŸ Boolean        - True/ false   
 ðŸ Nothing        - None  
 ðŸ complex number - ex- x+iy  

ex-

## string

In [1]:
c="Data"
type(c)

str

## Boolean
## In python True has 1 value and false has 0

In [2]:
True - False

1

In [3]:
True * False

0

In [4]:
True/False

ZeroDivisionError: division by zero

## Nothing

In [5]:
f= None
f

In [6]:
type(f)

NoneType

## Complex number

In [7]:
com = 5+6j
type(com)

complex

In [8]:
com.real

5.0

In [9]:
com.imag

6.0

## Rules of defining a variable:
It can start with alphabet or underscore character and join two words with underscore only
ex-

In [10]:
5=a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (120813491.py, line 1)

In [11]:
_name= "Data_Analyst"
_name

'Data_Analyst'

In [12]:
Data_Analytics = "Data"
Data_Analytics

'Data'

## We can change the data type by using Type casting

In [13]:
name ="2"
name = int(name)
type(name)

int

In [14]:
s=4.5
type(int(s))

int

In [15]:
bool(0)

False

In [ ]:
a = "DataAnalyst"   ##### we can not covert alphabets values to other data type only if str value is numeric then we can conert it to int or float data type
int(a)

ValueError: invalid literal for int() with base 10: 'DataAnalyst'